@model Company.Data.Data.CMS.Page
@{
    ViewData["Title"] = "Home Page";
}

<div class="container">
    <br><br>
@if (Model != null)
{
        ViewData["Title"] = Model.Title;
        <h1 class="header center orange-text">@Model.Title</h1>
        <div class="row center">
            <h5 class="header col s12 light">@Model.Content</h5>
            <br />
            Data i godzina edycji: @DateTime.Now.ToString()
        </div>
        <div class="row center">
            <a href="http://wp.pl" id="download-button" class="btn-large waves-effect waves-light orange">@Model.LinkTitle</a>
        </div>
}
else
{
        <h1 class="header center orange-text">Witaj w sklepie</h1>
        <div class="row center">
            <h5 class="header col s12 light">Sklep jest nowoczesny i doskonały. Sklep jest nowoczesny i doskonały. Sklep jest nowoczesny i doskonały.</h5>
        </div>
        <div class="row center">
            <a href="http://wp.pl" id="download-button" class="btn-large waves-effect waves-light orange">Do sklepu</a>
        </div>
}
    
    <br><br>

</div>